.adv-card {
    background-color: #57575a
}

.post {
    padding: 1em 1em 1em 1em;
    background: #525254;
    border: solid 9px rgba(160, 160, 160, 0.3);
    margin: 0 0 2em 0;
}
.post > header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-top: solid 3px rgba(160, 160, 160, 0.3);
}
input{
    background: #6f6f72;
    color: white;
}
textarea{
    width: 50vw;
    height: 20vh;
    max-width: 80vw;
    max-height: 40vh;
    min-width: 30vw;
    min-height: 5vh;
    background: #6f6f72;
    color: white;
    border: solid 2px black;
}
::-webkit-input-placeholder { /* Chrome */
    color: white;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
}